body {
    background-color: rgb(25, 25, 26);
    font-family: 'Poppins', 'Inter', 'System-ui', 'Avenir', 'Helvetica', 'Arial', sans-serif;
} 

#navBarMenu li a{
    font-weight: 600;
    color: rgb(156, 159, 165);
    font-size: 16px;
    margin-right: 50px;
}
#navBarMenu li a:hover{
    color: white;
}
#navItem{
    margin-left: 120px;
}
nav .btn{
    flex-grow: 0;
    background: linear-gradient(90deg, rgb(201, 177, 132), rgb(254, 255, 215), rgb(201, 177, 132));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: 1px solid #c9b184;
    width: auto;
    max-width: fit-content;
    border-radius: 50px;
    padding: 10px 30px;
    background-color: rgb(25, 25, 26);
    font-size: 14px;
}
.navbar-toggler:focus ,.navbar-toggler:active{
    outline: none;
    box-shadow: none;
}
nav .btn:hover{
    background: linear-gradient(90deg, #c9b184, #feffd7, #c9b184);   /*linear-gradient(90deg, rgb(124, 94, 65), rgb(254, 255, 215) 75.62%, rgb(181, 158, 116));*/
    color: black;
}
nav .btn:focus{
    outline: none;
    box-shadow: none;
}
.content{
    height: 600px;
    display: flex;
    align-items: center;
}
#CandleSoon{
    font-weight: 600;
    justify-self: center;
}
.card{
    background-color: rgb(30, 30, 31);
    color: white;
}
.filter button {
    border: 1px solid rgb(191, 193, 199, 0.5);;
    border-radius: 50px;
    outline: none;
    gap: 3px;
}

.filter button:focus{
    outline: none;
    box-shadow: none;
}
.filter button p{
    font-size: 12px;
    margin-bottom: 0px;
    color: white;
    font-weight: 500;
    height: 16px;

}
#refreshIcon{
    border: none;
    outline: none;
}
.card{
    background-color: rgb(30, 30, 31);
    border: 1px solid rgb(49, 49, 49);;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}
.card-header{
    border: none;
    outline: none;
}
.card-header h2{
    font-size: 24px;
    color: rgb(216, 221, 215);
}
.card-body{
    background-color: rgb(44, 45, 46);
    border-radius: 10px;
}
.badge{
    background-color: rgb(66, 66, 66);
    color: rgb(191, 193, 199);
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn-sm{
    background-color: rgb(66, 66, 66);
    color: rgb(191, 193, 199);
    font-size: 12px;
    outline: none;
    border: none;

}
.oroswapselect button{
    outline: none;
    border: none;
    font-size: 20px;
    color: rgb(249, 249, 250);
    font-weight: 500;
    gap: 5px;
}
.oroswapselect button:focus{
    outline: none;
    box-shadow: none;
}
.oroswapselect button:hover{
    color: rgb(249, 249, 250);
}
.oroswapselect .btn h4 {
    margin: 0; 
}

.oroswapvalue {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; 
}

.oroswapvalue input {
    width: 100%; 
    min-width: 50px; 
    max-width: 100%; 
    text-align: right;
    font-size: 24px;
    caret-color: white;
    border: none;
    outline: none;
    background-color: transparent;
}
.dollarvalue h4{
    font-size: 24px;
    font-weight: 500;
    color: rgb(179, 179, 179);
    text-align: right;
}
.swappingbutton{
    width: fit-content;
    outline: none;
    border: none;
    margin: -15px 0;
    position: relative;
}
.swappingbutton:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
.swappingmainbutton{
    display: flex;
    justify-content: center;
}
.mainconnectwallet button{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(90deg, rgb(201, 177, 132), rgb(254, 255, 215), rgb(201, 177, 132));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: 1px solid #c9b184;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
}
.mainconnectwallet button:focus{
    box-shadow: none;
}
.mainconnectwallet button:hover{
    color: black;
    background:linear-gradient(90deg, #c9b184, #feffd7, #c9b184);
}
.backbtn .btn h2{
    font-size: 20px;
    margin: 0px;
    color: #777777;
    font-weight: 500;
}
.backbtn .btn:focus{
    outline: none;
    box-shadow: none;
}
.modal-header h2{
    font-size: 20px;
    font-weight: 500;
    color: #D8DDD7;
    margin: 0px;
}
.modal-header{
    border: none;
    outline: none;
}
.modalsearch{
    background-color: #2C2D2E;
    border-radius: 50px;
}
.modalsearch input{
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    color: rgb(191, 193, 199);
    font-size: 16px;
}
.modalpopulartokens h5{
    color: #BFC1C7;
    font-size: 14px;
    font-weight: 500;
}
.modalsampletoken button h4{
    font-size: 14px;
    color: #F9F9FA;
    font-weight: 500;
    margin: 0;
}
.modalsampletoken button{
    border: 1px solid rgb(68, 68, 68);
    background-color: rgba(0, 0, 0, 0);
}
.modalsampletoken button:focus{
    outline: none;
    box-shadow: none;
}
.modalsampletoken button:hover{
    background-color: #2C2D2E;
}
.modalsampletokens {
    display: flex;
    flex-wrap: wrap;
}
.modal-dialog {
    max-width: 60vw; 
    width: 60%; 
}
.modalselecttokens h5{
    color: #BFC1C7;
    font-size: 14px;
    font-weight: 500;
}
.selectitemname h4{
    margin: 0;
    font-size: 16px;
    color: #F9F9FA;
    font-weight: 600;
}
.selectitemname h5{
    margin: 0;
    font-size: 16px;
    color: #BFC1C7;
    font-weight: 500;
}
.modalselectitems ul{
    padding: 0;
}
.modal-content{
    padding:20px 40px 20px 40px;
}
.modal-content{
    background-color: #1E1E1F;
    color: white;
}
.scrollable-list {
    max-height: 280px;
    overflow-y: auto;
    scrollbar-width: thick;
   
} 
.scrollable-list::-webkit-scrollbar {
    width: 4px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background: #767676;
    border-radius: 1px;
}

.scrollable-list::-webkit-scrollbar-track {
    background: #555;
    border-radius: 1px;
}
.scrollable-list ul li{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.scrollable-list ul li:hover{
    background-color: #2C2D2E;
}
.btnvalues button p{
    font-size: 12px;
    color: #BFC1C7;
    margin: 0;
}
.btnvalues button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    border-bottom-color: rgb(191, 193, 199);
    border-top-color: rgb(191, 193, 199);
    border-left-color: rgb(144, 145, 149);
    border-right-color: rgb(144, 145, 149);
}
.btnvalues button:focus{
    outline: none;
    box-shadow: none;
}
.btnvalues button input{
    background: transparent;
    font-size: 12px;
    color: #BFC1C7;
    border: none;
    outline: none;
    max-width: 40px;
}
input[type="number"] {
    -moz-appearance: textfield !important;
    -webkit-appearance: none !important;
    appearance: textfield !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
#tokenfiltervalue .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0 auto;
}
#connectWalletModal{
    background-color: #2d3748;
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
    background-image: none;
} 
#connectWalletheader{
    color: #ffffffeb;
    font-size: 16px;
    font-weight: 600;
}
#connectWalletheader button{
    border: none;
    outline: none;
    transform: scale(0.7);
}
#connectWalletheader button:focus{
    outline: none;
    box-shadow: none;
}
#connectWalletheader p{
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.top2wallet button{
    padding: 0;
    border: none;
    margin-bottom: 8px;
}
.top2wallet button:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.top2wallet button .card{
    padding: 15px 35px 15px 35px;
    background-color: rgba(0, 0, 0, 0.36);
    outline: none;
}
.top2wallet button .card:hover{
    background-color: rgb(32, 32, 32);
    border-color: #6a66ff;
}
.top2wallet button .card p{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(238, 242, 248);
    margin-bottom: 0;
}
.walletlist ul{
    padding: 0;
    margin: 0;
}
.walletlist ul li p{
    margin: 0;
    color: rgb(238, 242, 248);
    font-size: 14px;
    font-weight: 400;
}
.walletlist ul li button{
    width: 100%;
    margin-top: 5px;
    padding: 12px 8px 12px 8px;
    background-color: rgba(0, 0, 0, 0.36);
    border-radius: 10px;
}
.walletlist ul li button:focus{
    outline: none;
    box-shadow: none;
}
.walletlist ul li button:hover{
    background-color: rgb(32, 32, 32);
    border-color: #6a66ff;
}
.walletlist ul li p span{
    background-color: rgb(74, 85, 104);
    color: rgb(238, 242, 248);
    font-size: 8px;
    font-weight: 600;
    padding:4px 6px 4px 6px;
    border-radius: 5px;
}
.walletlist{
    max-height: 160px;
    overflow-y: auto;
    scrollbar-width: thick;
}
.walletlist::-webkit-scrollbar{
    width: 0;
}
#connectWalletdialog{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0 auto;
}
.modal-content {
    background-image: url(./images/abstractDots.png), url(./images/abstractDotsbottom.png); 
    background-size: 350px 350px, 350px 350px; 
    background-position: top right , bottom left;
    background-repeat: no-repeat , no-repeat;
} 

@media (max-width: 576px) {
    header {
        margin-bottom: 25px; 
    }
}
@media (max-width: 768px) {
    header {
        margin-bottom: 25px; 
    }
}
@media (max-width: 768px) {
    .modal-dialog {
        max-width: 95vw;
        width: 95%;
    }
}
@media (min-width: 1440px) {
    .modal-dialog {
        max-width: 40vw;
        width: 45%;
    }
}
@media (max-width: 768px) {
    #connectWalletdialog {
        max-width: 95vw;
        width: 95%;
    }
}
@media (min-width: 768px) {
    #connectWalletdialog {
        max-width: 40vw;
        width: 40%;
    }
} 
@media (min-width: 1440px) {
    #connectWalletdialog {
        max-width: 20vw;
        width: 20%;
    }
} 
@media (max-width: 375px) {
    .modal-header h2{
        font-size: 16px;
    }
    .modal-header .btn h2{
        font-size: 16px;
    }
    .modal-body .modalsearch input{
        font-size: 14px;
    }
    .card-body .from h5{
        font-size: 11px;
    }
    .card-body .to h5{
        font-size: 11px;
    }
    .badgebuttons p{
        font-size: 11px;
    }
    .badgebuttons button {
        font-size: 11px;
    }
}
@media (max-width:375px) {
    .modal-body .btnvalues button{
        padding: 3px 10px 3px 10px;
    }
    .modal-header{
        display: flex;
        justify-content: space-between;
        padding: 0;

    }
}
@media (max-width:425px) {
    .modal-body .btnvalues button{
        padding: 4px 12px 4px 12px;
    }
    .modal-header{
        display: flex;
        justify-content: space-between;
        padding: 0;

    }
}
@media (max-width:768px){
    .modal-header .backbtn .btn {
        padding: 0;
    }
}




